# Next.js
.next/
out/

# Node.js
node_modules/

# Build files
/.next/
/build
/out

# Serverless directories
/.serverless/
/.serverless_nextjs

# IDE files
.idea/
.vscode/
*.iml
*.log

# macOS files
.DS_Store

# npm lock file
package-lock.json

# Yarn lock file
yarn.lock

# Environment variables
.env
.env.locale
.env.development.local
.env.test.local
.env.production.local

# Other project-specific files
# Ajoutez ici les fichiers spécifiques à votre projet que vous souhaitez ignorer dans le suivi de version.


# typescript
*.tsbuildinfo
next-env.d.ts

# Sentry
.sentryclirc

# Key files
key-access-db.json
